In [1]:
#World happiness report
#Wisdom Alawode Olabowale
#100 days of code Day 24

In [2]:
#Importing the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns

In [5]:
#Reading the data

data = pd.read_csv(r"C:\Users\Administrator\Desktop\world happiness report\dataset\2019.csv")
data.shape
data.head(10)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298
5             6       Switzerland  ...       0.263                      0.343
6             7            Sweden  ...       0.267                      0.373
7             8       New Zealand  ...       0.330                      0.380
8             9            Canada  ...       0.285                      0.308
9            10           Austria  ...       0.244                      0.226

[10 rows x 9 columns]